<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>

    <main>
      <a role="button" class="btn btn-primary btn-lg" href="/login">Login</a>
      <% if(user){%>
      <a role="button" class="btn btn-secondary btn-lg" href="/logout">Logout</a>
      <% } %>
      <br />
      <br />
      <% if(user) { %>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home-tab-pane"
            type="button"
            role="tab"
            aria-controls="home-tab-pane"
            aria-selected="true"
          >
            Assertions
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile-tab-pane"
            type="button"
            role="tab"
            aria-controls="profile-tab-pane"
            aria-selected="false"
          >
            Attributes
          </button>
        </li>
      </ul>
      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="home-tab-pane"
          role="tabpanel"
          aria-labelledby="home-tab"
          tabindex="0"
        >
          <table class="table table-striped w-auto">
            <tbody>
              <% Object.keys(user).forEach(function(prop) { %>
              <tr>
                <td><%- prop %></td>
                <td><%- user[prop] %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <% if(user?.attributes) { %>
          <table class="table table-striped w-auto">
            <tbody>
              <% Object.keys(user.attributes).forEach(function(prop) { %>
              <tr>
                <td><%- prop %></td>
                <td><%- user.attributes[prop] %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
          <% } %>
        </div>
      </div>
      <% } %>
    </main>
  </body>
</html>
